<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slushy Noobz Search</title>
</head>
<body>
    <h1>YouTube Video URLs</h1>
    
    <form method="post">
        <label for="search_term">Enter Key Term:</label>
        <input type="text" name="search_term" id="search_term" required>
        <button type="submit">Search</button>
    </form>

    {% if result %}
        <h2>Search Results:</h2>
        <ul>
            {% for video_url in result %}
                <li>{{ video_url }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>